aiofiles==25.1.0
attr==0.3.2
cffi==1.17.1
ConfigParser==7.2.0
dnspython==2.8.0
docutils==0.22.2
filelock==3.20.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
protobuf==6.33.0
pyOpenSSL==24.3.0
pyOpenSSL==25.3.0
pytest==8.4.2
python_bcrypt==0.3.2
redis==6.4.0
setuptools==80.9.0
Sphinx==8.2.3
thread==2.0.5
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
